{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class = "service" > 
    <div class = "card">
        <div class = "card_header">
            <img src="{{ asset('build/images/Multi-Expertises.png' ) }}" alt = "expertise" />         
        </div>

        <div class = "card_body">
            <h6 class = "card_title"> Multi-expertise </h6>
            <p class = "card_text"> Un savoir-faire dans tous les domaines du complément alimentaire </p>
        </div>
    </div>
        <div class = "card">
        <div class = "card_header">
            <img src="{{ asset('build/images/Naturalite.png' ) }}" alt = "produitnaturel" />         
        </div>

        <div class = "card_body">
            <h6 class = "card_title"> Naturalité </h6>
            <p class = "card_text"> Des produits de santé naturels, à base de plantes, vitamines, minéraux & oligo-éléments </p>
        </div>
    </div> 

    <div class = "card">
        <div class = "card_header">
            <img src="{{ asset('build/images/Innovation.png' ) }}" alt = "innovation" />         
        </div>

        <div class = "card_body">
            <h6 class = "card_title"> Innovation </h6>
            <p class = "card_text"> Des formules idéalement dosées, complètes et innovantes, élaborées par des experts scientifiques </p>
        </div>
    </div> 

</div>
{{ render(controller('App\\Controller\\SectionNewController::index')) }}


{% endblock %}
