{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<h1>Produits</h1>
<div class="container gallery">
    <div {{ react_component('ProductsFilter', {
        'imagePathPrefix': asset('build/images/'),
        'productUrlPattern': '/product/',
        'products': products
    }) }}></div>
</div>
{% endblock %}
